nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Bungee";
}

.write-tweet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fa-solid {
  color: red;
}