.error-container-empty {
  border: solid red 7px;
  color: red;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.error-container-lengthy {
  border: solid red 7px;
  color: red;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.hidden-empty {
  display: none;
}

.hidden-lengthy {
  display: none;
}


.tweet-input {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
}

label {
  font-weight: bold;
}

textarea {
  outline: none;
  background-color: #f4f1ec;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
  width: 100%;
}

.button-counter {
  display: flex;
  justify-content: space-between;
}

button {
  font-family: "Bungee";
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
}

.counter {
  font-family: "Bungee";
}

.red {
  color: red;
}